{% extends "base.html" %}

{% block pagetitle %}
    {{ head::titlesite(page_title = section.title) }}
{% endblock pagetitle %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <img style="border-radius: 50%;" src="https://avatars.githubusercontent.com/u/10132201?s=250&u=5a47a5c761d73e9e8e19873ac19a063770caeaf1&v=4" alt="Profile Image"/>
    </div>
    <div class="col-8">
      <div class="row justify-content-left">
        <div class="col">
          <h1>Alan Barros<br/>
            <small class="text-muted">Software Engineer</small>
          </h1>
        </div>
      </div>
      <div class="row justify-content-right">
        <div class="col">
          <i class="fa fa-github"></i> <a href="http://github.com/alanbarros">alanbarros</a></br>
          <i class="fa fa-telegram"></i> <a href="https://t.me/alanbarros">alanbarros</a></br>
          <a href="mailto:alan.barros@outlook.com">alan.barros@outlook.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ section.content | safe }}
{% endblock content %}